<h1>test</h1>
{% schema %}
{
    "name": "c-gift",
    "settings": [
      {
        "type": "product",
        "id": "FreeProduct",
        "label": "text"
      }
    ],
    
    "presets": [
      {
        "name":"c-gift"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}